<div class="jumbotron">
	<div class="panel panel-default">
		<div class="panel-heading">{{vm.title}}Edit Setor</div>
		
		<div class="form-group">
			<label> ID </label>
			<input ng-model="vm.id" type="text" class="form-control"></input>
		</div>

		<div class="form-group">
			<label> Descrição</label>
			<input ng-model="vm.descricao" type="text" class="form-control"></input>
		
			<button ng-click="saveSetor(vm);" class="btn btn-primary">{{buttonText}}</button>
			<button ng-click="deleteSetor(vm)" class="btn btn-danger" >Delete</button>
		</div>		
	</div>
</div>


